@layer components {
    .t-alpha {
        @apply
            mt-24 mb-16
            leading-tight text-4xl font-extrabold
            text-gray-900 dark:text-gray-100;
    }

    .t-beta {
        @apply
            mt-16 mb-8
            leading-tight text-2xl font-extrabold
            text-gray-800 dark:text-gray-200;
    }

    .t-gamma {
        @apply
            uppercase font-extrabold tracking-wide text-xs mt-8 mb-4
            text-gray-500 dark:text-gray-300;

    }
}

.rich-text {
    h1 {
        @apply t-alpha;
    }

    h2 {
        @apply t-beta;
    }

    h3 {
        @apply t-gamma;
    }

    p, ul, ol {
        @apply mb-8;
    }

    a {
        @apply underline text-blue-700 dark:text-blue-500;
    }

    ul {
        @apply list-disc pl-6;
    }

    ol {
        @apply list-decimal pl-6;
    }

    hr {
        @apply my-6 border-gray-200 dark:border-gray-800;
    }

    :not(pre) > code {
        @apply
            px-1.5 py-0.5 text-sm rounded-md border bg-gray-50
            dark:bg-gray-900 dark:border-gray-600 dark:text-gray-400;
    }

    /* start prism overrides */
    pre[class*="language-"] {
        @apply
            m-0 mb-8 p-container -mx-container rounded-none
            sm:-mx-1 sm:rounded-md sm:p-6;
    }

    pre[class*="language-"],
    code[class*="language-"] {
        @apply text-sm leading-6 font-mono bg-gray-800;
    }

    .highlight-line-active {
        @apply bg-white bg-opacity-5;

        color: inherit;
    }
    /* end prism overrides */
}
