---
title: Joren Van Hee
---

<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8">

    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/index.css">

    {% if globals.env == 'production' %}
        <script defer data-domain="joren.co" data-api="/plsbl/api/event" src="https://www.joren.co/plsbl/js/script.js"></script>
    {% endif %}
</head>
<body class="
    {{- bodyClass -}}
    {{- ' debug-screens' if globals.env == 'development' -}}
">
    {{ content | safe }}
</body>
</html>
